html {
    scroll-behavior: smooth;

}


:root {
    --maincolor: #FFFFFF;
    --white: #FFFFFF
}

a {
    text-decoration: none;
}

body {
    font-family: 'Calibri';
    background-color: #ACCC6D;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000000; */

}

div.container {
    display: grid;
    grid-template-rows: 150px 400px;
    grid-template-columns: 300px;
    margin: 0 auto;
    background-color: none;
    width: 300px;

}

.left {
    background: none;
    height: 0;
}

.welcome {

    text-align: center;
    display: felx;
    padding: 50px;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 300;
    user-select: none
}




form.data {
    background: #FFFFFF;
    margin: 0% 0%;
    border-radius: 20px;
    height: 400px;
    padding: 30px;
    min-width: 200px;
    overflow: hidden;

}

.login {
    text-align: center;
    padding-bottom: 20px;
    color: #545454;
    font-size: 20px;
    user-select: none;
}

.email,
.password {
    color: #252525;
    background: #E1E1E1;
    font-size: 1rem;
    text-indent: 10px;
    padding: 15px 15px;
    border-radius: 10px;
    width: 100%;
    border: none;
    margin: 10px 0;

}

.username:active,
.password:active {
    border: none;
}

label {
    user-select: none;
    font-size: 17px;

}

::placeholder {
    font-size: 15px;
}

.container .data input[type="checkbox"] {
    padding: 20px 10px;



}



.submit {
    padding: 15px 40px;
    background: linear-gradient(50deg, #a3c365, #BEEF62);
    border-radius: 8px;
    width: 100%;
    margin: 10px 0;
    border: none;
    font-size: 1.2rem;
    color: #FFF;
    animation: 1s ease;
}

.submit:hover {

    background: #000000;
    color: #FFF;
    cursor: pointer;

}



a.forget,
.create {
    color: #ACCC6D;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    display: block;
    padding: 10px;
    text-wrap: none;

}

.logo,
.create {
    display: none;
}

a.forget:hover {
    text-decoration: underline
}

@media only screen and (min-width: 900px) {
    div.container {
        display: grid;
        grid-template-areas: 'welcome data';
        grid-template-rows: 500px;
        grid-template-columns: 50% 50%;
        padding: 80px 0;
        width: 900px;
        max-width: 900px;
    }

    form.data {
        border-radius: 0;
        margin: 0;
        height: 100%;
        padding: 30px 60px;
    }

    .welcome {
        color: #96BF48;
        margin-bottom: 70px;
        font-size: 30px;
        font-weight: 350;
        letter-spacing: 0.3rem;
    }

    .login {

        padding: 25px;
        font-size: 25px;
    }

    .left {

        background: #DDFF9B;
        justify-content: center;
        height: 100%;
    }

    .logo {

        width: 110px;
        display: block;
        margin: 30px auto;

    }

    .create {
        display: block;
    }
}